{% extends "base.html" %}

{% block content %}
<h2>{{ project.name }}</h2>
<p>{{ project.description }}</p>

<h3>Tugas dalam Proyek Ini</h3>
<a href="{% url 'task_create' project.id %}">Tambah Tugas</a>
<ul>
    {% for task in tasks %}
        <li>
            {{ task.name }} - {{ task.get_status_display }}
            <a href="{% url 'task_update' task.id %}">Edit</a>
            <a href="{% url 'task_delete' task.id %}">Hapus</a>
        </li>
    {% endfor %}
</ul>
<a href="{% url 'project_list' %}">Kembali ke daftar proyek</a>
{% endblock %}
